*{
	margin:0px;
	padding: 0px;

}

header{

	width: 1300px;
	height: auto;
	position: relative;
	margin:auto;
	background-color:cadetblue;

}
header h1{

	color: black;
	text-align: center;
	padding:20px;


}
#headleft{
	position: relative;
	width: 500px;
	height: 40px;

	float: left;
	margin-left: 40px;
}
header h3{
	color : black;
	text-align: center;
	padding: 10px;
}
#headright{
	position: relative;
	width: 500px;
	height: 40px;
	float: right;
}
#headright ul{
	list-style-type: none;
}
#headright ul li{
	float: right;
	width: 80px;
}
#headright ul li a{
	color: white;
}
nav{
	top:5px;
	background-color: #87CEFA;
	width: 1300px;
	margin:auto;
	height: 50px;
	position: relative;

}
nav ul{
	list-style: none;
}
nav ul li{

	float: left;
	width: 100px;
	position: relative;
	line-height: 50px;
	padding-right: 150px;
	left:50px;


}
nav ul li a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
}

nav ul li a:hover{
	color: white;
	background:black;
}

#a{
	width: 1200px;
	height: auto;
	margin:auto;
	position: relative;
}
#b{
	width: 500px;
	height: auto;
	float: left;
}
#headleft img{
	position: absolute;
	top: -110px;
	left: 150px;
}

