
.condown{
    width: 1300px;
    height: auto;
    margin:auto;
    position: relative;


}
#con-down{
    position: relative;
    margin-top: 30px;
    height:350px;
    width:323px;
    float:left;
    border: 0.1em solid #EEE;
    border-left: outset;
    border-bottom: outset;
}
#con-down .image{
    height:220px;
    width: 250px;
    margin:auto;
    position: relative;
}
#con-down .image img{
    height: 220px;
    width: 250px;
}
#con-down .text{
    height:223px;
    width: 250px;
    margin:auto;
}
.font{
    width: 1300px;
    height: auto;
    margin:auto;
    border:0.1em solid #F5F5DC;
    border-left: outset;
}
.font h4{
    color:red;
    font-size: 1.3em;
    font-family: cursive;
    text-align: center;
    padding: 10px;
}
button{
    background-color: #E45D5D;
    color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    border-bottom: 4px solid #B93838;
    padding:5px;
}
#block{
    position: relative;
    width:1320px;
    min-height: 50px;
    margin:auto;

}
#call{
    width: 100px;
    height: 50px;
    position: relative;
    margin:auto;
}
#call a{
    line-height: 40px;

    font-size: 24px;
    font-weight: bold;
    padding:10px;

}
h5{
    line-height: 10px;
    font-size: 1em;
}