

<style>
#admin{
	/*background:url(../image/bg.jpg) no-repeat center ;*/
	width: 1300px;
	height: auto;
	margin:auto;
}
.main{
	width: 1300px;
	height: 50px;
	
	margin:auto;
}

.main h4{
	
	color:#00FFFF;
	line-height: 50px;
	font-family: cursive;
	font-size: 1.5em;
}
.main-nav{
	width: 1300px;
	height: auto;
	margin:auto;
}
.nav2{
	width: 700px;
	height: auto;
	margin:auto;
}
.nav2{
	width: 700px;
	background-color: #00BFFF;
	height: 30px;
	margin: auto;
	border-radius: 10px;
}
.nav2 ul{
	list-style-type: none;
}
.nav2 ul li{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
	border-radius: 8px;


}
.nav2 ul li a{
	color:  #F0F8FF ;
	display: block;
	text-decoration: none;
	text-align: center;
}
.nav2 li a:hover{
	background: #87CEFA;
	border-radius: 8px;
}
#nav3{
	width: 1200px;
	height: auto;
	margin:auto;
}

.navright{
	width:700px;
	height: auto;
	margin:auto;
	margin-top: 20px;
	
}
.navright{

	color:#8B008B;
	font-family: cursive;
	font-size: 1.4em;

}
#b td{
	border:outset;
	text-align: center;
	padding:10px;
	color: #8B008B;
}
#footer{
	border: 0.1em solid #EEE; border-radius:8px; border:outset;
	width: 700px;
	height: auto;
	margin:auto;
}
#footer h4{
	text-align: center;
	color: #40E0D0;
	font-family: cursive;
}
#footer ul{
	list-style-type: none;
}
#footer ul li{
	height: auto;
	width: 100px;
	float: left;
}
#footer ul li a{
	text-decoration: none;
	color: #708090;
	font-family: cursive;
	padding:10px;

}

	</style>


